body {
  margin: 0;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
}

/******* HERO STYLES *******/
header {
  background-color: #672455;
  color: white;
  height: 100vh;
}
h1 {
  margin: 0;
  padding-top: 3em;
  font-size: 5em;
}
#down-arrow {
  padding-top: 20em;
}

/******* MAIN STYLES *******/

main {
  background: whitesmoke;
}

h2 {
  font-size: 3em;
}

li, ol {
  list-style: none;
}

/******* ABOUT STYLES *******/

#about-me {
  height: 100vh;
}

#profile {
  border-radius: 15em;
}


/******* QUIZ STYLES *******/

#about-me-quiz {
  height: 100vh;
}

#start-quiz {
  background: #672455;
  color: #fff;
  padding: 1em 2em;
  font-size: 1em;
  border-radius: .5em;
  border-color: #672455;
  box-shadow: 2px 4px 10px grey;
}


/************ MEDIA QUERIES *************/

@media screen and (max-width: 992px) {

}